.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*
display: flex;
flex-wrap: wrap;
justifycontent: space-between;

display: flex;
flex-wrap: wrap;
justify-content: space-between;

display: flex;
flex-wrap: wrap;
justify-content: space-between;

display: flex;
flex-wrap: wrap;
justify-content: space between;

display: flex;
flex-wrap: wrap;
justify-content: space between;

display: flex;
flex-wrap: wrap;
jsutify-content: space between;

display; flex;

flex-wrap: wrap;
justfit-content: space between;
*/
